<header th:fragment="loginheader"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <section class="logo-container">
    <h2 class="logo">
      <a href="/get/info/home">Fairfield City Library<sup>&reg</sup></a>
    </h2>
  </section>
  <section class="userId">
    <h2>
      <span>Welcome, </span><span sec:authorize="isAnonymous()">Guest</span>
      <span sec:authorize="isAuthenticated()" sec:authentication="principal.fullName"></span>
      : : :
      <a sec:authorize="isAnonymous()" style="text-decoration: none; color: blue;" href="/get/info/login">Sign In</a>
      <a sec:authorize="isAuthenticated()" style="text-decoration: none; color: blue;" href="/get/info/login">Sign Out</a>
    </h2>
  </section>
</header>