<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fairfield Library System - System Administration</title>
  <link rel="icon" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<!--<nav th:replace="fragments/navbar :: navbar"></nav>-->
<main>
  <h1>System Administration</h1>
  <nav>
    <a href="/get/info/list">Manage Publishers</a> |
    <a href="/get/info/new">Manage Books</a> |
    <a href="#">Manage Library Members</a>
  </nav>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>